<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataStoreType" value="NotBackup"/>
    <add key="DBConnectionString" value="Data Source=DESKTOP-AFMS98U;Initial Catalog=BankSystem;User ID=sa;Password=Sa01!;Integrated Security=True;" />
  </appSettings>
</configuration>